#container {
  margin: 0 400px;
}

header {
  border-bottom: 1px solid #000;
}

header img {
  float: right;
  margin-top: -110px;
}

header h2 {
  margin-top: -10px;
}

fieldset {
  background: #e2e0c7c4;
}

fieldset legend {
  font-weight: 900;
  margin-top: 10px;
}

fieldset input {
  width: 100%;
}

button#cancel {
  width: 150px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  background: rgb(238, 29, 29);
}

button#enviar {
  width: 150px;
  margin-top: 10px;
  margin-left: 0;
  float: right;
  background: rgb(36, 173, 24);
}
